---
permalink: /
title: BGM
---

<section id="welcome">
    <div class="container">
        <h1>Hola!</h1>
        <hr/>
        <p>
            <b>Bienvenido!</b> Soy José Benavente, más conocido como <q>BGM</q>, y este es mi humilde sitio en la web.
            soy un desarrollador de software con una gran pasión por el diseño de videojuegos, localización de
            software, y por construir comunidades llenas de gente genial! Actualmente, paso la mayoría de mi tiempo
            libre estudiando e implementando motores gráficos de los 90s, escribiendo contenido técnico sobre
            programación, y traduciendo proyectos.
        </p>
    </div>
</section>

<section id="languages-and-tools">
    <div class="container">
        <h1>Trabajo con</h1>
        <hr/>

        <div class="icons">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/c.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="Lenguaje C"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/cpp.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="Lenguaje C++"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/java.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="Lenguaje Java"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/python.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="Lenguaje Python"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/ruby.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="Lenguaje Ruby"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/rails.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="Ruby on Rails"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/git.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="Control de Versiones Git"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/mysql.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="Bases de Datos MySQL"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/mongodb.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="Bases de Datos MongoDB"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/redis.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="Caché con Redis"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/docker.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="Contenedores de Docker"/>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                        <img src="{{ site.url }}/assets/img/tools/sass.svg" height="60" alt="" data-toggle="tooltip" data-placement="top" title="Hojas de Estilo Sass"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="gallery">
    <div class="container">
        <h1>Galería</h1>
        <hr/>

        <div class="popup-gallery">
            <div class="row">
                {% for image in site.static_files %}
                    {% if image.path contains 'img/gallery' %}
                        <div class="col-sm-12 col-md-6 col-lg-2 justify-content-xl">
                            <a href="{{ site.url }}/assets/img/gallery/{{ image.name }}" title="RVGL (OpenGL, C++)" description=""><img src="{{ site.url }}/assets/img/gallery/{{ image.name }}"></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<script src="{{ site.url }}/assets/js/gallery.js"></script>
